<% @areas = Area.all(:include => [:nivel, :tipo], :conditions => {:activo => true}) %>

<style>
#formulario_area_id{ width: 300px}
#tableForm{width:800px}

</style>
<table id="tableForm">

<% form_for(@formulario) do |f| %>
<tr>
  <td colspan="2"><%= f.error_messages %></td>
</tr>

<tr>
  <td>
    <%= f.label :area_id, 'AREA:' %>
  </td>
  <td>
    <%= f.select :area_id, @areas.map{|v| [v, v.id]}, :include_blank => true %>
  </td>
</tr>

<tr>
  <td>
    <label>NIVEL JERARQUICO:</label>
  </td>
  <td id="td_nivel">
  </td>
</tr>
<tr>
  <td>
    <label>NOMBRE DEL AREA FUNCIONAL INMEDIATO SUPERIOR:</label>
  </td>
  <td id="td_parent">
  </td>
</tr>

<tr>
  <td>
    <label>AREAS DEPENDIENTES:</label> 
  </td>
  <td id="td_areas_dependientes" style="height:150px"><div style="overflow:auto;height:150px" ></div>
  </td>
</tr>

<tr>
  <td colspan="2">
    <label>OBJETIVO AREA FUNCIONAL</label>
  </td>
</tr>
<tr>
  <td colspan="2">
    <%= f.text_area :objectivo_area_funcional, :size => "100x7" %>
  </td>
</tr>

<tr>
  <td colspan="2">
    <label>DESCRIPCION DE LA FUNCION PRINCIPAL</label>
  </td>
</tr>
<tr>
  <td colspan="2">
    <%= f.text_area :descripcion_funcion_principal, :size => "100x7"  %>
  </td>
</tr>

<tr>
  <td colspan="2">
    <label>DESCRIPCION DE LA FUNCIONES ESPECIFICAS</label>
  </td>
</tr>
<tr>
  <td colspan="2">
    <%= f.text_area :descripcion_funciones_especificas, :size => "100x7"  %>
  </td>
</tr>

<tr>
  <td colspan="2">
    <label>RESULTADOS OBTENIDOS</label>
  <td>
</tr>
<tr>
  <td colspan="2">
    <%= f.text_area :principales_resultados, :size => "100x7" %>
  </td>
</tr>

<tr>
  <td>
    <label>TIPO DEL AREA FUNCIONAL</label>
  </td>
  <td id="td_tipo"></td>
</tr>

<tr>
  <td>
    <div class="borde_b">RELACIONES DE COORDINACION INTERNA</div>
    <%= f.text_area :relaciones_coordinacion_interna, :size => "50x6" %>
  </td>

  <td>
    <div class="borde_b">RELACIONAMIENTO INTERINSTITUCIONAL</div>
    <%= f.text_area :relacionamiento_interinstitucional, :size => "50x6" %>
  </td>
</tr>

<tr>
  <td colspan="2">ACTUALIUZACION</td>
</tr>
<tr>
  <td colspan="2" class="center">
    <%= f.submit 'Salvar' %>
  </td>
</tr>
<% end %>
</table>

<script type="text/javascript">
function buscarDatos() {
  var valor = $('#formulario_area_id').val();
  if(valor > 0) {
    var url = '<%= url_for :controller => 'areas' %>/' + valor + '/seleccionar';
    $.getJSON(url, function(data) {
      $('#td_areas_dependientes>div').html( data.areas_dependientes.join("<br/>") );
      $('#td_parent').html(data.parent);
      $('#td_nivel').html(data.nivel);
      $('#td_tipo').html(data.tipo);
    });
  }
}

$(document).ready(function() {

  $('#formulario_area_id').change(function() {
    buscarDatos();
  });
  buscarDatos();
});
</script>
