<div style="float:right">
<% form_tag('/formularios/busqueda') do %>
CI: <input name="search" type="text"/>
<% end %>
</div>

<h1>Listar Formularios</h1>

<table>
  <tr>
    <th class="ui-state-default">Area</th>
    
    <th class="ui-state-default">Objectivo area funcional</th>
    <th class="ui-state-default">Descripcion funcion principal</th>
    <th class="ui-state-default">Descripcion funciones especificas</th>
    <th class="ui-state-default">Relaciones coordinacion interna</th>
    <th class="ui-state-default">Relacionamiento interinstitucional</th>
  </tr>

<% @formularios.each do |formulario| %>
  <tr>
    <td><%=h formulario.area.nombre if formulario.area %></td>
    
    <td><%=h formulario.objectivo_area_funcional %></td>
    <td><%=h formulario.descripcion_funcion_principal %></td>
    <td><%=h formulario.descripcion_funciones_especificas %></td>
    <td><%=h formulario.relaciones_coordinacion_interna %></td>
    <td><%=h formulario.relacionamiento_interinstitucional %></td>
    
    <td><%= link_to 'Ver', formulario_path(formulario) %></td>
    <td><%= link_to 'Editar', edit_formulario_path(formulario) %></td>
    <td><%= link_to 'Eliminar', formulario, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Formulario', new_formulario_path %>
<%= will_paginate @areas %>
