<div class="formulario">
<% form_tag('/formularios/busqueda') do %>
CI: <input name="search" type="text"/>
<% end %>
</div>

<% if logged_in? %>
<h1>Listar Formularios</h1>
<br class="clear">
<table>
  <tr>
    <th class="ui-state-default">Area</th>
    
    <th class="ui-state-default">Objectivo area funcional</th>
    <th class="ui-state-default">Descripcion funcion principal</th>
    <th class="ui-state-default">Descripcion funciones especificas</th>
    <th class="ui-state-default">Relaciones coordinacion interna</th>
    <th class="ui-state-default">Relacionamiento interinstitucional</th>
  </tr>

<% @formularios.each do |formulario| %>
  <tr>
    <td><%=h formulario.area.nombre if formulario.area %></td>
    
    <td><%=h truncate(formulario.objectivo_area_funcional, :length => 150) %></td>
    <td><%=h truncate(formulario.descripcion_funcion_principal, :length => 150) %></td>
    <td><%=h truncate(formulario.descripcion_funciones_especificas, :length => 150) %></td>
    <td><%=h truncate(formulario.relaciones_coordinacion_interna, :length => 150) %></td>
    <td><%=h truncate(formulario.relacionamiento_interinstitucional, :length => 150) %></td>
    
    <td><%= link_to 'Ver', formulario_path(formulario) %></td>
    <td><%= link_to 'Editar', edit_formulario_path(formulario) %></td>
    <td><%= link_to 'Eliminar', formulario, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% end %>
<br class="clear"/>

<div class="enlaces">
  

<%= link_to 'Nuevo Formulario', new_formulario_path %>
<%= will_paginate @areas %>
</div>
