<h1>Editing nivel</h1>

<% form_for(@nivel) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @nivel %> |
<%= link_to 'Back', niveles_path %>