<h1>LISTA DE AREAS</h1>

<table>
  <tr>
    
    <th class="ui-state-default">Nombre</th>
    <th class="ui-state-default">Tipo</th>
    <th class="ui-state-default">Nivel</th>
    
  </tr>

<% @areas.each do |area| %>
  <tr>
   
    <td><%=h area.nombre %></td>
    <td><%=h area.tipo %></td>
    <td><%=h area.nivel %></td>
   
    <td><%= link_to 'Ver', area_path(area, :page => @page) %></td>
    <td><%= link_to 'Editar', edit_area_path(area,  :page => @page) %></td>
    <td><%= link_to 'Eliminar', area, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Area', new_area_path %>

<%= will_paginate @areas %>