<h1>New area</h1>

<% form_for(@area) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :tipo_id %><br />
    <%= f.select :tipo_id, Tipo.all.map{|v| [v, v.id]} %>
  </p>
  <p>
    <%= f.label :nivel_id %><br />
    <%= f.select :nivel_id, Nivel.all.map{|v| [v, v.id]} %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', areas_path %>
