
<p>
  <b>Nombre:</b>
  <%=h @area.nombre %>
</p>

<p>
  <b>Tipo:</b>
  <%=h @area.tipo %>
</p>

<p>
  <b>Nivel:</b>
  <%=h @area.nivel %>
</p>




<%= link_to 'Editar', edit_area_path(@area,:page => @page) %> |
<%= link_to 'Listar', areas_path(:page => @page) %>