<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= yield :title %> - Manual de Organizacion y Funciones </title>
  <%= stylesheet_link_tag "style.css","application.css", "../javascripts/jquery-ui/themes/ui-lightness/ui.all.css"%>
  <%= javascript_include_tag "jquery-1.3.2.min.js", "application.js" %>
</head>
<body>
  <div class="container">
<ul id="navigation">
  <li><%= link_to('Tipos', tipos_path) %></li>
  <li><%= link_to('Niveles', niveles_path) %></li>
  <li><%= link_to('Areas', areas_path) %></li>
  <li><%= link_to('Formularios', formularios_path) %></li>
  <%if logged_in?%>
  <li><%= link_to('Salir', logout_path) %></li>
<%end%>
</ul>
<div id="cont">
  <div id="flashNotice"><%= flash[:notice] %></div>
  <%= yield %>
</div>
</div>
</body>
</html>
