<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= yield :title %> - Manual de Organizacion y Funciones </title>
  <%= stylesheet_link_tag "application.css", "../javascripts/jquery-ui/themes/ui-lightness/ui.all.css"%>
  <%= javascript_include_tag "jquery-1.3.2.min.js", "jquery-ui/jquery-ui-1.7.2.custom.min.js",
  "application.js", "jquery-ui/ui/i18n/ui.datepicker-es.js", "grider.js" %>



</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
